.carousel-caption-seba {
  position: absolute;
  right: 70%;
  bottom: 0px;
  left: 5%;
  z-index: 10;
  padding-top: 90px;
  padding-bottom: 10%;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  }

  .carousel-item-seba {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 1.5s ease-in-out;
    transition: transform 1.5s ease-in-out;
    transition: transform 1.5s ease-in-out, -webkit-transform 2s ease-in-out;
  }

  .btn-info-seba {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
  }