

body{
    font-family: 'Quicksand', sans-serif;
}


/*NAVBAR*/

.mynav{

    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
     ;
}

.logo{

    border-radius: 50%;
	border-style: 2px solid white;

}

.navbar-nav {

    margin: 0 auto;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.a-nav{
    color: bisque;

}

.nav-btn{
    color: bisque;
    border-color: bisque;
    font-size: 20px;
}

a:hover{
    color: aquamarine;
     }

a:visited{
    color: bisque;

}









